<plugin name='grails-easyrec-plugin' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Ryan Norris</author>
  <title>Easyrec Plugin</title>
  <description>\
Provides access to the EasyRec recommendation engine.
</description>
  <documentation>http://grails.org/plugin/grails-easyrec-plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>easyrec.plugin.EasyRecService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>
